.trucktitle {
  margin-bottom: 10px;
}

.row {
  lost-center: 100%;
}

.oneHalf {
  lost-column: 1/2;
}

.oneFourth {
  lost-column: 1/4;
}

.ThreeFourth {
  lost-column: 3/4;
}

.modaltitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

.modaldescription {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
}

.modalbox {
  background: #F7F7F7;
  padding: 30px;
  text-align: center;
  border-radius: 3px;
}

.modalbox p {
  margin: 0;
}

.modalboxtitle {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 0;
}

.modalprogress {
  margin-bottom: 0px;
}

.modaldiff,
.modaltime {
  padding: 0 20px;
  display: block;
}

.modaldiff svg {
  height: 12px;
}

.modaldecrease {
  color: #FD1B1B;
}

.modalincrease {
  color: #60C303;
}

.title {
  margin-bottom: 10px;
}

.fourFifth{
  lost-column: 4/5;
}

.oneFifth {
  lost-column: 1/5;
}

.fiveSixth {
  lost-column: 5/6;
}

.oneSixth {
  lost-column: 1/6;
}

.text, .text-modal {
  display: block;
  text-align: right;
  color: #aaa;
}

.text {
  font-size: 12px;
}

.text-modal {
  font-size: 10px;
}

.oneFull {
  lost-column: 1/1;
}

.oneRobot > div {
  margin: 10px 0;
}

.oneRobot:last-child {
  margin-bottom: 0;
}

.checkboxRobot {
  text-align: right;
}

.diffdetail {
  text-align: center;
  font-size: 12px;
}

.grade {
  text-align: center;
  background: #F4F8F9;
  border-radius: 2px;
  padding: 20px 5px;
  margin-bottom: 10px;
}

.grade h4 {
  font-weight: 300;
  margin: 0;
}

.grade h1 {
  margin: 0;
}
