.label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input[type='text'],
.input[type='email'],
.input[type='number'],
.textarea {
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 3px;
  box-sizing : border-box;
  padding:10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.form-group {
  margin-bottom: 1rem;
}

.textarea {
  overflow: auto;
  resize: none;
  min-height: 100px;
}
