.label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input[type='text'],
.input[type='email'],
.input[type='number'],
.textarea {
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 2px;
  box-sizing : border-box;
  padding:6px;
  font-size: 14px;
  font-weight: 300;
  margin-right: 5px;
  line-height: 1.4;
}

.form-group {
  margin-bottom: 1rem;
}

.textarea {
  overflow: auto;
  resize: none;
  min-height: 100px;
}


.checkbox {
  margin-top:20px;
}

.checkbox input[type='checkbox'] {
  opacity: 0;
}

.checkboxlabel {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -20px;
}

.checkbox label:before {
  content: '';
  background: url(../../shared/media/images/icons/checkbox-undone.png) center no-repeat;
  background-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
}

.checkbox label:after {
  content: '';
  background: url(../../shared/media/images/icons/checkbox-undone.png) center no-repeat;
  background-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
}

.checkbox input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
}

.checkbox input[type="checkbox"]:not(:checked) + label:after, .checkbox input[type="checkbox"]:checked + label:after {
  content: '';
  background: url(../../shared/media/images/icons/checkbox-done.png) center no-repeat;
  background-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.form-inline .form-group {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-flow: row wrap;
  -ms-flex-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.form-inline .input {
  display: inline-block;
}
