.progress {
  background: #efefef;
}
.progress-bar {
  height: 15px;
  width: 100%;
}

.progress-bar.bg-primary {
  background: linear-gradient(to right, #ffb347, #ffcc33);
  border-radius: 2px;
}

.progress-bar.bg-success {
  background: linear-gradient(to right, #56ab2f, #a8e063);
  border-radius: 2px;
}

.progress-bar.bg-alert {
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  border-radius: 2px;
}


.progress-bar.bg-success.reverse {

  background: linear-gradient(to right, #cb2d3e, #ef473a);
  border-radius: 2px;
}

.progress-bar.bg-alert.reverse {
  background: linear-gradient(to right, #56ab2f, #a8e063);
  border-radius: 2px;
}
