.alert {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert p {
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 5px;
}

.alert-primary {
  background: #F4F8F9;
  border-color: #F4F8F9;
  color: #6A7088;
}

.alert-success {
  background: #60C303;
  border-color: #60C303;
  color: white;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
