.title {
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 0;
}

.title span {
  cursor: pointer;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 12px;
}

.row {
  lost-center: 100%;
}

.fiveSixth {
  lost-column: 5/6;
}

.oneSixth {
  lost-column: 1/6;
}

.oneFull {
  lost-column: 1/1;
}

.text {
  font-size: 12px;
  display: block;
  text-align: right;
  color: #aaa;
}

.knobsingleouter {
  lost-column: 1/4 0 0;
}

.knobsingleinner {
  text-align: center;
  margin: 10px 0 20px 0;
  position:relative;
}

.currentwarehouse {
  background: #F8F8F8;
  padding: 30px 0;
  margin: 0 5px;
  border-radius: 3px;
}

.notcurrentwarehouse {
  background: transparent;
  padding: 30px 0;
  margin: 0 5px;
  border-radius: 3px;
}
