.title {
  margin-bottom: 0px;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 12px;
}

.row {
  lost-center: 100%;
}

.fiveSixth {
  lost-column: 5/6;
}

.oneSixth {
  lost-column: 1/6;
}

.text {
  font-size: 12px;
  display: block;
  text-align: right;
  color: #aaa;
}

.knobsingleouter {
  lost-column: 1/4;
}

.knobsingleinner {
  text-align: center;
  margin: 10px 0 20px 0;
  position:relative;
}

.checkbox {
  margin-top:20px;
}

.checkbox input[type='checkbox'] {
  opacity: 0;
}

.checkboxlabel {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -20px;
}

.checkbox label:before {
  content: '';
  background: url(../../../shared/media/images/icons/checkbox-undone.png) center no-repeat;
  background-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
}

.checkbox label:after {
  content: '';
  background: url(../../../shared/media/images/icons/checkbox-undone.png) center no-repeat;
  background-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
}

.checkbox input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
}

.checkbox input[type="checkbox"]:not(:checked) + label:after, .checkbox input[type="checkbox"]:checked + label:after {
  content: '';
  background: url(../../../shared/media/images/icons/checkbox-done.png) center no-repeat;
  background-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 24px;
}
